apiVersion: v1
data:
  .dockerconfigjson: eyJhdXRocyI6eyJodHRwczovL2luZGV4LmRvY2tlci5pby92MS8iOnsidXNlcm5hbWUiOiJzcmVlaml0aDkyIiwicGFzc3dvcmQiOiJTcmVlanVAMTk5MiIsImVtYWlsIjoic3JlZWppdGguc3JlZWt1bWFyMTk5MkBnbWFpbC5jb20iLCJhdXRoIjoiYzNKbFpXcHBkR2c1TWpwVGNtVmxhblZBTVRrNU1nPT0ifX19
kind: Secret
metadata:
  creationTimestamp: null
  name: regcred
type: kubernetes.io/dockerconfigjson